
<div>
  <%= image_tag "play on connect four.png"  %>
</div>

<div id="game_status">
  <p id="turn">Turn Finished: Player 1</p>
  <p id="winner">Winner: %s</p>
  <center>
    <div id="token"> </div>
  </center>
</div>

<div id="game_connect4">
  <table id="game_board">
    <tbody>
    <tr>
      <td id="col-1-row-1"></td>
      <td id="col-1-row-2"></td>
      <td id="col-1-row-3"></td>
      <td id="col-1-row-4"></td>
      <td id="col-1-row-5"></td>
      <td id="col-1-row-6"></td>
      <td id="col-1-row-7"></td>
    </tr>
    <tr>
      <td id="col-2-row-1"></td>
      <td id="col-2-row-2"></td>
      <td id="col-2-row-3"></td>
      <td id="col-2-row-4"></td>
      <td id="col-2-row-5"></td>
      <td id="col-2-row-6"></td>
      <td id="col-2-row-7"></td>
    </tr>
    <tr>
      <td id="col-3-row-1"></td>
      <td id="col-3-row-2"></td>
      <td id="col-3-row-3"></td>
      <td id="col-3-row-4"></td>
      <td id="col-3-row-5"></td>
      <td id="col-3-row-6"></td>
      <td id="col-3-row-7"></td>
    </tr>
    <tr>
      <td id="col-4-row-1"></td>
      <td id="col-4-row-2"></td>
      <td id="col-4-row-3"></td>
      <td id="col-4-row-4"></td>
      <td id="col-4-row-5"></td>
      <td id="col-4-row-6"></td>
      <td id="col-4-row-7"></td>
    </tr>
    <tr>
      <td id="col-5-row-1"></td>
      <td id="col-5-row-2"></td>
      <td id="col-5-row-3"></td>
      <td id="col-5-row-4"></td>
      <td id="col-5-row-5"></td>
      <td id="col-5-row-6"></td>
      <td id="col-5-row-7"></td>
    </tr>
    <tr>
      <td id="col-6-row-1"></td>
      <td id="col-6-row-2"></td>
      <td id="col-6-row-3"></td>
      <td id="col-6-row-4"></td>
      <td id="col-6-row-5"></td>
      <td id="col-6-row-6"></td>
      <td id="col-6-row-7"></td>
    </tr>
    </tbody>
  </table>
</div>

<div id="game_reset">
  <button id="new_game">New Game</button>
</div>